
.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 5rem rgba($color-black, 0.1);
    background-color: rgba($color-white, .7);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 7rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding-left: 3rem;
        padding: 3rem;
        transform: skewX(0);
    }

    @include respond(phone) {
        width: 80%;
        padding-left: 2rem;
        padding: 1rem;
        transform: skewX(0);
    }

    //& > * did not work because the shape will be having two transform properties
    
    &__shape {
        height: 15rem;
        width: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-1rem) skewX(12deg);
        position: relative;

        backface-visibility: hidden;

        @include respond(tab-port) {
            transform: translateX(-2.5rem) skewX(0);
        }

        @include respond(phone) {
            transform: translateX(-.5rem) skewX(0);
        }
    }

    &__image {
        height: 100%;
        transform: scale(1.2);
        transition: all .5s;
        
    }

    &__figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        color: rgba($color-white, 1.0);
        text-align: center;
        opacity: 0;
        transition: all .5s;

        backface-visibility: hidden;
    }

    &:hover &__figcaption {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.9);
    }

    &:hover &__image {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }

    
    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }

        @include respond(tab-port) {
           margin-left: 2rem;
           transform: skewX(0);
        }
    }
}